# Node modules en cualquier parte del monorepo
**/node_modules/

# Builds de producción o desarrollo
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
**/.env
**/.env.*

# Coverage de pruebas
**/coverage/

# Archivos de configuración de editores (VSCode, WebStorm, etc.)
.idea/
.vscode/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# Archivos del sistema operativo
.DS_Store
Thumbs.db
